selenium~=3.141.0
pyttsx3~=2.90
playsound~=1.2.2
wolframalpha~=4.1.1
pyjokes~=0.6.0
pygeoip~=0.3.2
folium~=0.11.0
wikipedia~=1.4.0
mysql~=0.0.2
gTTS~=2.2.1
translate~=3.5.0
ecapture~=0.1.8
win10toast~=0.9
names~=0.3.0
Faker~=5.0.2
pymongo~=3.11.3
numpy~=1.19.5
nltk~=3.6.1
tensorflow~=2.4.1